<?xml version="1.0"?>

<robot name="rb1_robot">

    <!-- Define materials for visualization -->
    <material name="blue">
        <color rgba="0 0 1 1"/>
    </material>
    
    <material name="gray">
        <color rgba="0.40 0.40 0.40 1"/>
    </material>

    <material name="red">
        <color rgba="1 0 0 1"/>
    </material>

    <!-- Base footprint link -->
    <link name="base_footprint">
    </link>

    <!-- Joint connecting base_link and base_footprint -->
    <!-- TO DO: Set correct joint type -->
    <joint name="base_link_plate_joint" type="fixed">
        <!-- TO DO: Define axis (if needed) -->
        <!-- Not needed -->
        <!-- TO DO: Define origin -->
        <origin rpy="0 0 0" xyz="0 0 0.15" /> 
        <!-- TO DO: Define parent -->
        <parent link="base_footprint" />
        <!-- TO DO: Define child -->
        <child link="base_link" />
    </joint>

    <!-- Base link -->
    <link name="base_link">
        <!-- TO DO: Add inertial tag -->
        <inertial>
            <mass value="20.5" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.4740625" ixy="0" ixz="0" iyy="0.4740625" iyz="0" izz="0.640625" />
        </inertial>
        <!-- TO DO: Add collision tag -->
        <collision>
            <geometry>
                <cylinder length="0.3" radius="0.25" />
            </geometry>
        </collision>
        <!-- TO DO: Add visual tag -->
        <visual>
            <geometry>
                <cylinder length="0.3" radius="0.25" />
            </geometry>
            <material name="blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual> 
    </link>

    <!-- Left wheel link -->
    <link name="left_wheel">
        <!-- TO DO: Add inertial tag -->
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.0003645833333" ixy="0" ixz="0" iyy="0.0003645833333" iyz="0" izz="0.0003125" />
        </inertial>
        <!-- TO DO: Add collision tag -->
        <collision>
            <origin rpy="1.5707 0 0" xyz="0 0 0" />
            <geometry>
                <cylinder length="0.05" radius="0.025" />
            </geometry>
        </collision>
        <!-- TO DO: Add visual tag -->
        <visual>
            <origin rpy="1.5707 0 0" xyz="0 0 0" />
            <geometry>
                <cylinder length="0.05" radius="0.025" />
            </geometry>
            <material name="red">
                <color rgba="1 0 0 1"/>
            </material>
        </visual>
    </link>

    <!-- Joint connecting base_link and left_wheel -->
    <!-- TO DO: Set correct joint type -->
    <joint name="base_link_left_wheel_joint" type="continuous">
        <!-- TO DO: Define axis (if needed) -->
        <axis rpy="0 0 0" xyz="0 1 0" />
        <!-- TO DO: Define origin -->
        <origin rpy="0 0 0" xyz="0 0.2 -0.15" />
        <!-- TO DO: Define parent -->
        <parent link="base_link" />
        <!-- TO DO: Define child -->
        <child link="left_wheel" />
        <limit effort="10000" velocity="1000" />
        <joint_properties damping="1.0" friction="1.0" />
    </joint>

    <!-- Right wheel link -->
    <link name="right_wheel">
        <!-- TO DO: Add inertial tag -->
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.0003645833333" ixy="0" ixz="0" iyy="0.0003645833333" iyz="0" izz="0.0003125" />
        </inertial>
        <!-- TO DO: Add collision tag -->
        <collision>
            <origin rpy="1.5707 0 0" xyz="0 0 0" />
            <geometry>
                <cylinder length="0.05" radius="0.025" />
            </geometry>
        </collision>
        <!-- TO DO: Add visual tag -->
        <visual>
            <origin rpy="1.5707 0 0" xyz="0 0 0" />
            <geometry>
                <cylinder length="0.05" radius="0.025" />
            </geometry>
            <material name="red">
                <color rgba="1 0 0 1"/>
            </material>
        </visual> 
    </link>

    <!-- Joint connecting base_link and right_wheel -->
    <!-- TO DO: Set correct joint type -->
    <joint name="base_link_right_wheel_joint" type="continuous">
        <!-- TO DO: Define axis (if needed) -->
        <axis rpy="0 0 0" xyz="0 1 0" />
        <!-- TO DO: Define origin -->
        <origin rpy="0 0 0" xyz="0 -0.2 -0.15" />
        <!-- TO DO: Define parent -->
        <parent link="base_link" />
        <!-- TO DO: Define child -->
        <child link="right_wheel" />
        <limit effort="10000" velocity="1000" />
        <joint_properties damping="1.0" friction="1.0" />
    </joint>

    <!-- Front caster -->
    <link name="front_caster">
        <!-- TO DO: Add inertial tag -->
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.0003125" ixy="0" ixz="0" iyy="0.0003125" iyz="0" izz="0.0003125" />
        </inertial>
        <!-- TO DO: Add collision tag -->
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <sphere radius="0.025" />
            </geometry>
        </collision>
        <!-- TO DO: Add visual tag -->
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <sphere radius="0.025" />
            </geometry>
            <material name="gray">
                <color rgba="0.40 0.40 0.40 1"/>
            </material>
        </visual> 
    </link>

    <!-- Joint connecting base_link and front_caster -->
    <!-- TO DO: Set correct joint type -->
    <joint name="base_link_front_caster_joint" type="fixed">
        <!-- TO DO: Define axis (if needed) -->
        <!-- Not needed -->
        <!-- TO DO: Define origin -->
        <origin rpy="0 0 0" xyz="0.1 0 -0.15" />
        <!-- TO DO: Define parent -->
        <parent link="base_link" />
        <!-- TO DO: Define child -->
        <child link="front_caster" />
        <joint_properties damping="1.0" friction="0.0" />
    </joint>

    <gazebo reference="base_link_front_caster_joint">
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <!-- Back caster -->
    <link name="back_caster">
        <!-- TO DO: Add inertial tag -->
        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.0003125" ixy="0" ixz="0" iyy="0.0003125" iyz="0" izz="0.0003125" />
        </inertial>
        <!-- TO DO: Add collision tag -->
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <sphere radius="0.025" />
            </geometry>
        </collision>
        <!-- TO DO: Add visual tag -->
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <sphere radius="0.025" />
            </geometry>
            <material name="gray">
                <color rgba="0.40 0.40 0.40 1"/>
            </material>
        </visual> 
    </link>

    <!-- Joint connecting base_link and back_caster -->
    <!-- TO DO: Set correct joint type -->
    <joint name="base_link_back_caster_joint" type="fixed">
        <!-- TO DO: Define axis (if needed) -->
        <!-- Not needed -->
        <!-- TO DO: Define origin -->
        <origin rpy="0 0 0" xyz="-0.1 0 -0.15"/>
        <!-- TO DO: Define parent -->
        <parent link="base_link" />
        <!-- TO DO: Define child -->
        <child link="back_caster" />
        <joint_properties damping="1.0" friction="0.0" />
    </joint>

    <!-- Link representing the front laser scanner -->
    <!--For this robot, the laser is not visible, so we won't define a body for it. -->
    <link name="front_laser">
        <inertial>
            <mass value="0.5" />
            <origin rpy="0 0 0" xyz="0 0 0" />
            <inertia ixx="0.0044791666667" ixy="0" ixz="0" iyy="0.0044791666667" iyz="0" izz="0.005625" />
        </inertial>
    </link>

    <!-- Joint connecting base_link and front_laser -->
    <!-- TO DO: Set correct joint type -->
    <joint name="base_link_front_laser_joint" type="fixed">
        <!-- TO DO: Define axis (if needed) -->
        <!-- Not needed -->
        <!-- TO DO: Define origin -->
        <origin rpy="3.1414 0 0" xyz="0.25 0 0.075" /> <!-- Rotation of 180 deg in the x axis-->
        <!-- TO DO: Define parent -->
        <parent link="base_link" />
        <!-- TO DO: Define child -->
        <child link="front_laser" />
        <joint_properties damping="1.0" friction="1.0" />
    </joint>

    <!-- Specify Gazebo color for the base_link -->

    <!-- Gazebo Classic-->
    <gazebo reference="base_link">
        <material>Gazebo/Black</material>
    </gazebo>
    <!-- Gazebo Sim--> <!-- Material - Black -->
    <!--gazebo reference="base_link">
        <visual>
            <material>
                <ambient>0 0 0 1</ambient>
                <diffuse>0 0 0 1</diffuse>
                <specular>0 0 0 1</specular>
                <emissive>0 0 0 1</emissive>
            </material>
        </visual>
    </gazebo-->
    
    <!-- Gazebo friction and material properties for left_wheel -->
    
    <!-- Gazebo Classic -->
    <gazebo reference="left_wheel">
        <mu1 value="5.0"/>
		<mu2 value="0.5"/>
		<kp value="10000000.0" />
		<kd value="10.0" />
		<fdir1 value="1 0 0"/>
        <material>Gazebo/Red</material>
    </gazebo>

    <!-- Gazebo Sim --> <!-- Classic mu1 and mu2 -->
    <!--gazebo reference="left_wheel">
        <collision>
            <surface>
            <friction>
                <ode>
                <mu>5.0</mu>      
                <mu2>0.5</mu2>
                <fdir1>1 0 0</fdir1>
                </ode>
            </friction>
            <contact>
                <ode>
                <kp>10000000.0</kp>
                <kd>1.0</kd>
                </ode>
            </contact>
            </surface>
        </collision>

        <visual>
            <material>
                <ambient>1 0 0 1</ambient>
                <diffuse>1 0 0 1</diffuse>
                <specular>0 0 0 1</specular>
                <emissive>0 0 0 1</emissive>
            </material>
        </visual>
    </gazebo-->

    <!-- Gazebo friction and material properties for right_wheel -->
    <gazebo reference="right_wheel">
        <mu1 value="5.0"/>
		<mu2 value="0.5"/>
		<kp value="10000000.0" />
		<kd value="10.0" />
		<fdir1 value="1 0 0"/>
        <material>Gazebo/Red</material>
    </gazebo>

    <!-- Gazebo friction and material properties for front_caster -->
    <gazebo reference="front_caster">
        <mu1 value="0.02"/>
        <mu2 value="0.02"/>
        <kp value="500000.0" />
        <kd value="10.0" />
        <fdir1 value="0 0 1"/>
        <material>Gazebo/Gray</material>
    </gazebo>

    <!-- Gazebo friction and material properties for back_caster -->
    <gazebo reference="back_caster">
        <mu1 value="0.02"/>
        <mu2 value="0.02"/>
        <kp value="500000.0" />
        <kd value="10.0" />
        <fdir1 value="0 0 1"/>
        <material>Gazebo/Gray</material>
    </gazebo>

    <!-- Gazebo plugin for differential drive controller -->

    <!-- Differential Drive Plugin -->
    <!-- Gazebo Classic -->
    <gazebo>
        <plugin filename="libgazebo_ros_diff_drive.so" name="differential_drive_controller">
            <!-- Plugin parameters -->
            <alwaysOn>true</alwaysOn>
            <updateRate>20</updateRate>
            <leftJoint>base_link_left_wheel_joint</leftJoint>
            <rightJoint>base_link_right_wheel_joint</rightJoint>
            <publishWheelTF>true</publishWheelTF>
            <wheelSeparation>0.4</wheelSeparation>
            <wheelDiameter>0.05</wheelDiameter>
            <torque>10</torque>
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <robotBaseFrame>base_footprint</robotBaseFrame>
        </plugin>
    </gazebo>

    <!-- Gazebo Sim -->
    <!-- gazebo>
        <plugin
            filename="libignition-gazebo-diff-drive-system.so"
            name="ignition::gazebo::systems::DiffDrive">
            <left_joint>base_link_left_wheel_joint</left_joint>
            <right_joint>base_link_right_wheel_joint</right_joint>
            <wheel_separation>0.4</wheel_separation>
            <wheel_radius>0.025</wheel_radius>
            <odom_publish_frequency>20</odom_publish_frequency>
            <topic>cmd_vel</topic>
            <odom_topic>odom</odom_topic>
            <tf_topic>tf</tf_topic>
            <frame_id>odom</frame_id>
            <child_frame_id>base_footprint</child_frame_id>
        </plugin>
    </gazebo-->

    <!-- Gazebo configuration for the front laser sensor -->
    
    <!-- Gazebo Classic -->
    <gazebo reference="front_laser">
        <!-- Define a ray sensor named "head_hokuyo_sensor" -->
        <sensor type="ray" name="head_hokuyo_sensor">
            <pose>0 0 0 0 0 0</pose>
            <!-- Enable visualization of the sensor -->
            <visualize>true</visualize>
            <update_rate>20</update_rate>
            <ray>
                <!-- Configure the scanning properties -->
                <scan>
                    <horizontal>
                        <samples>720</samples>
                        <resolution>1</resolution>
                        <min_angle>-1.570796</min_angle>
                        <max_angle>1.570796</max_angle>
                    </horizontal>
                </scan>
                <!-- Configure the range properties -->
                <range>
                    <min>0.05</min>
                    <max>10.0</max>
                    <resolution>0.01</resolution>
                </range>
                <!-- Configure the noise properties -->
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <!-- Attach a Gazebo plugin to the sensor for ROS integration -->
            <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
                <topicName>/scan</topicName>
                <frameName>front_laser</frameName>
            </plugin>
        </sensor>
    </gazebo>

    <!-- Gazebo Sim --> <!-- use ogre2 if ogre v2.x is installed, otherwise use ogre -->
    <!--gazebo>
        <plugin
        filename="libignition-gazebo-sensors-system"
        name="ignition::gazebo::systems::Sensors">
        <render_engine>ogre2</render_engine>
        </plugin>
    </gazebo>
    <gazebo reference="front_laser">
        <sensor type="gpu_lidar" name="head_hokuyo_sensor">
            <pose relative_to='front_laser'>0 0 0 0 0 0</pose>
            <always_on>1</always_on>
            <visualize>true</visualize>
            <update_rate>20</update_rate>
            <topic>/scan</topic>
            <ray>
                <scan>
                    <horizontal>
                        <samples>720</samples>
                        <resolution>1</resolution>
                        <min_angle>-1.570796</min_angle>
                        <max_angle>1.570796</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.20</min>
                    <max>10.0</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
        </sensor>
    </gazebo-->

</robot>